node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.env
.env.*
!.env.example
ios/
android/
.kotlin/
*.log
*.tsbuildinfo
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

.vercel
.env*
!.env.example
